

{% extends 'base.html' %}

{% block content %}
<div id="prompt-wrapper">
    <input id="prompt-input" type="text" placeholder="Prompt (example: a dog wearing sunglasses)">
    <button id="generate-button">Generate</button>
</div>
<div id="image-wrapper" style="max-width: 100%; max-height: 100%;">

</div>

<script>
    
    const promptInput = document.getElementById("prompt-input");
    const generateButton = document.getElementById("generate-button");
    const imageWrapper = document.getElementById("image-wrapper");

    const stabilityAiGenerateUrl = "https://api.stability.ai/v2beta/stable-image/generate/core";
    const base_url = "http://localhost:8000/";

    var userToken = "{{ user_token }}";

    generateButton.onclick = () => {
        const prompt = promptInput.value;
        if( !prompt ){
            return
        }
        const form = new FormData();
        form.append("prompt", prompt);
        form.append("output_format", "png");
        
        
        fetch(
            stabilityAiGenerateUrl,
            {
                method: "POST",
                body: form,
                headers: {
                    Authorization: "Bearer {{api_key}}",
                    Accept: "image/*",
                },
                validateStatus: undefined,
                responseType: "arraybuffer",
            }
            ).then(async response => {
                console.log(response)
                if(!response.ok){
                    console.log(await response.json());
                    throw new Error("response was not okay")
                }
                return response.arrayBuffer();
            }).then(data => {

                const blob = new Blob([data]);
                const blobUrl = URL.createObjectURL(blob);
                const imageElement = document.createElement('img');
                imageElement.src = blobUrl;
                imageElement.style.maxWidth = "100%";
                imageElement.style.maxHeight = "100%";
                imageWrapper.innerHTML = null;
                imageWrapper.appendChild(imageElement);
            }).catch(e => {
                console.error(e);
            });
        }

        function decrease_tokens(amount) {
            const form = new FormData();
            form.append("userId", "{{userId}}");
            form.append("amount", amount);
            
            fetch(
            base_url + "image/decrease-tokens/",
            {
                method: "POST",
                body: form,
            }
            ).then(async response => {
                if(!response.ok){
                    throw new Error("response was not okay")
                }
                return response.json();
            }).then(data => {

                
            }).catch(e => {
                console.error(e);
            });
        }

</script>
        


{% endblock %}
