@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;400;500;600;700;800&display=swap');

*{
    box-sizing: border;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #0da3e1;
    --secondary-color: #3a60af;
    --pink-color: #ee35a1;
    --lightgreen-color: #79c76d;
    --yellow-color: #fabd48;
    --white-color: #ffffff;
    --black-color: #000000;
    --border-color: #00000026;
}
::selection{
    background-color: var(--pink-color);
    color: var(--yellow-color);
}
body{
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Jost', sans-serif;
}
a,svg,button,input[type="submit"]{
    transition: .3s;
}
p{
    font-size: 18px;
}
img{
    display: block;
    max-width: 100%;
}
input{
    width: 100%;
    padding: 5px 15px;
    border-radius: 25px;
    height: 50px;
    border: 1px solid rgb(160, 160, 160);
    outline-color: var(--pink-color);
}
input[type="checkbox"],input[type="radio"]{
    accent-color: var(--yellow-color);
    width: 20px !important;
    height: 20px !important;
    margin-bottom: 0 !important;
}

#header{
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.wrapper{
    width: 100%;
    max-width: 1400px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-content .universal-btn, .header-content .universal-outline-btn{
    border-radius: 25px;
}

.logo img {
    width: 125px;
    object-fit: contain;
}

.toggle-box{
    display: none;
    margin-left: auto;
}

.toggle{
    border: none;
    outline: none;
    font-size: 30px;
    color: var(--yellow-color);
    background-color: transparent;
    cursor: pointer;
}

.toggle:hover{
    color: var(--lightgreen-color);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 300px;
    background-color: var(--pink-color);
    padding: 30px 20px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    transform: translateX(-350px);
}

.sidebar.active{
    opacity: 100;
    visibility: visible;
    transform: translateX(0px);
}

.sidebar ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar a{
    text-decoration: none;
    color: var(--yellow-color);
    font-weight: 400;
    display: block;
    padding: 5px 20px;
}

.sidebar .active > a, .sidebar li:hover > a{
    color: var(--white-color);
    background-color: var(--yellow-color);
}

.sidebar-close{
    border: none;
    outline: none;
    height: 30px;
    width: 30px;
    font-size: 14px;
    background-color: var(--yellow-color);
    color: var(--white-color);
    position: absolute;
    top: 0;
    left: 300px;
    cursor: pointer;
}

.navbar nav{
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    margin-bottom: 0;
}

.navbar a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--lightgreen-color);
    font-weight: 500;
    border-radius: 25px;
}

.navbar li:hover > a, .navbar li.active > a{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.user-btns .universal-btn{
    background-color: var(--pink-color);
    border-color: var(--pink-color);
}
#content{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content{
    width: 100%;
}

.navbar ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    list-style: none;
    padding-left: 0;
}

.universal-btn,.universal-outline-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid var(--white-color);
    transition: .2s;
    cursor: pointer;
}

.universal-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.universal-btn:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}
.universal-btn:hover svg{
    --white-color: var(--primary-color);
}
.universal-outline-btn{
    color: var(--primary-color);
    background-color: var(--white-color);
    border-color: var(--primary-color);
}
.universal-outline-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.universal-outline-btn:hover svg{
    --primary-color: var(--white-color);
}
.image-upload-label{
    display: inline-block;
    padding: 15px 50px;
}
.image-upload-label svg{
    margin-right: 10px;
}
.image-upload-label:hover{
    background-color: var(--secondary-color);
    color: var(--white-color);
}
.image-upload-label:hover svg{
    --white-color: #ffffff;
}
.upload-form, .upload-form form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 15px 0 5px;
    width: 100%;
}
.clear-form{
    display: flex;
    justify-content: center;
}
.result-container {
    text-align: center;
    margin-top: 30px;
    background-color: #ebebeb;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 44px -25px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 1px 44px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 44px -25px rgba(0,0,0,0.75);
}
.result-container h3{
    color: var(--primary-color);
}
.convert-btn:hover svg{
    transform: rotate(360deg);
}
.advance-mode-field{
    display: flex;
    align-items: center;
    margin: 0 10px;
    gap: 5px;
    color: var(--primary-color);
    font-size: 20px;
}
.advance-mode-field input{
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color);
}
.login-wrapper{
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
}
.login-wrapper .universal-btn{
    margin: 20px auto;
    border-radius: 25px;
}
.logo-header{
    text-align: center;
}
.login-box{
    width: 100%;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box .universal-btn{
    min-width: 200px;
    justify-content: center;
}
.login-inner-box{
    width: 100%;
    max-width: 600px;
}
.login-inner-box h3{
    font-size: 25px;
    margin: 10px 0 20px;
}
.login-inner-container{
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.social-login{
    margin-top: 20px;
}
.google-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-decoration: none;
    color: var(--black-color);
    font-size: 18px;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.31);
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.31);
    padding: 15px 20px;
    border-radius: 50px;
    transition: .3s;
    width: 200px;
}
.google-btn:hover{
    box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 30px 6px rgba(0,0,0,0.2);
}
.signup-box{
    width: 30%;
    padding: 50px 20px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.signup-box .universal-btn{
    background-color: var(--white-color);
    color: var(--primary-color) !important;
    justify-content: center;
    margin: 0 auto;
    display: inline-block;
}
.input-box{
    margin-bottom: 20px;
}
.signup-box *{
    color: var(--white-color);
}
.title{
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}
.divider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.divider:before,.divider:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(160, 160, 160);
}

.login-container .universal-btn{
    border-radius: 25px;
    margin: 0 auto;
}

.account-box{
    margin-top: 20px;
}

.account-box a{
    color: var(--primary-color);
}

.social-login h3{
    font-size: 20px;
}

.login-inner-container ul{
    list-style: none;
    padding-left: 0;
    text-align: start;
}

.login-inner-container p{
    text-align: start;
}

#message-form{
    margin-bottom: 20px;
}

#message-form textarea, #message-form input:not(input[type="submit"]){
    border-radius: 25px;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 20px;
}

#message-form textarea::placeholder, #message-form input:not(input[type="submit"])::placeholder{
    text-transform: capitalize;
}

#message-form input[type="file"]{
    line-height: 33px;
}
#message-form button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: .2s;
    cursor: pointer;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
#message-form button:hover{
    color: var(--primary-color);
    background-color: var(--white-color);
}
#waiting-message{
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    border-radius: 5px;
}
.custom-file{
    display: flex;
    align-items: center;
}

.loading-overlay {
    position: fixed; /* Positioned relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    display: none;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 9999; /* High z-index to be on top of other content */
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#prompt-wrapper > *{
    margin-bottom: 10px;
}

#user-tokens{
    font-size: 40px;
    font-weight: 500;
    color: var(--yellow-color);
}

.offer-wrapper{
    text-align: center;
}

.offer-wrapper .universal-btn{
    margin: 5px auto;
    background-color: var(--yellow-color);
}

.offer-name{
    font-size: 30px;
    color: var(--pink-color);
}

.offer-token, .offer-price{
    display: inline-block;
    margin: 0 5px;
}

form .helptext, form li{
    font-size: 12px;
    color: gray;
}
.banner-section{
    position: relative;
}
.banner-content{
    position: absolute;
    top: 60px;
    left: 30px;
    max-width: 400px;
}
.banner-content h1{
    font-size: 30px;
}

.single-btn-section{
    padding: 50px 0;
    text-align: center;
}

.single-btn{
    display: inline-block;
    font-size: 25px;
    border-radius: 50px;
    border-color: var(--lightgreen-color);
    color: var(--pink-color);
}

.dreams-section{
    padding: 50px 0;
    background-color: var(--primary-color);
}

.dreams-section .title{
    color: var(--white-color);
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

.dreams-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.dream-item{
    color: var(--white-color);
}

.dream-item p{
    font-size: 18px;
    margin-top: 10px;
}

.dream-item h3 sup{
    color: gray;
    font-size: 14px;
    font-weight: 500;
    color: var(--pink-color);
}

.dream-item h3 sup sup{
    font-size: 10px;
    color: var(--lightgreen-color);
}

.dream-item h3 > sup{
    position: relative;
    top: -15px;
}

.theme-badge{
    background: var(--pink-color);
    background: linear-gradient(90deg, var(--pink-color) 21%, var(--lightgreen-color) 62%, var(--yellow-color) 100%);
    color: var(--white-color);
    display: inline-block;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: 14px;
    margin-bottom: 10px;
}

.generate-section{
    padding: 50px 0;
    text-align: center;
}

.generate-content p{
    margin-top: 20px;
}

.community-content .title{
    text-align: center;
}
.features-section{
    background-color: var(--secondary-color);
    padding: 50px 0;
}

.features-section .title{
    color: var(--white-color);
    text-align: center;
}

.feature-item-header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.feature-item:nth-child(1) i{
    color: var(--yellow-color);
}
.feature-item:nth-child(3) i{
    color: var(--lightgreen-color);
}
.feature-item:nth-child(4) i{
    color: var(--white-color);
}
.feature-item:nth-child(5) i{
    color: var(--yellow-color);
}
.feature-item:nth-child(7) i{
    color: var(--lightgreen-color);
}
.feature-item-header i{
    font-size: 30px;
    color: var(--pink-color);
}
.feature-item-header h3{
    font-size: 25px;
    font-weight: 600;
}
.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.feature-item{
    padding: 10px 20px;
    border: 1px solid var(--yellow-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.feature-item p{
    margin-bottom: 0;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.social-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}
.social-links a{
    font-size: 18px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
}
.social-links li:nth-child(2) a{
    background-color: var(--pink-color);
}
.social-links a:hover{
    background-color: var(--yellow-color) !important;
    color: var(--white-color) !important;
}
.main-container{
    display: flex;
    gap: 20px;
    min-height: calc(100vh - 111px);
    overflow-x: hidden;
}
#generate-sidebar{
    position: relative;
    width: 400px;
    background-color: var(--white-color);
    padding: 10px;
    border-right: 1px solid var(--border-color);
    transition: .3s;
}
#generate-sidebar.active{
    margin-left: 0;
}
.toggle-gen-sidebar{
    position: absolute;
    top: 0;
    right: -25px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    z-index: 5;
    border: none;
    outline: none;
    color: var(--lightgreen-color);
    display: none;
    width: auto !important;
}
#prompt-wrapper{
    width: calc(100% - 420px);
    flex-grow: 1;
}
#generate-sidebar > *{
    width: 100%;
}
.sidebar-header{
    display: flex;
    gap: 5px;
}
.sidebar-header button{
    font-size: 18px;
    width: 50%;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
}
.sidebar-header button:active{
    background-color: var(--yellow-color);
}
.generate-panel{
    margin-top: 10px;
}
.style-box{
    position: relative;
}
.style-dropdown{
    position: absolute;
    top: 0;
    left: 391px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 400px;
    background-color: var(--white-color);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.style-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    list-style: none;
    padding-left: 0;
}
.style-list li{
    border: 1px solid var(--border-color);
}
.style-list img{
    width: 100%;
    height: 125px;
    object-fit: cover;
}
.panel-btn{
    font-size: 18px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    color: var(--primary-color);
}
.subtitle{
    display: block;
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 5px;
}
.panel-btn:hover+.style-dropdown{
    visibility: visible;
    opacity: 100;
}

@media screen and (max-width: 768px){
    p{
        font-size: 16px;
    }
    .logo-header{
        text-align: center;
    }
    .login-box, .signup-box{
        width: 100%;
    }
    .title{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .login-inner-box h3{
        font-size: 20px;
    }
    .google-btn{
        padding: 10px;
        width: 150px;
    }
    input{
        height: 40px;
    }
    .navbar a, .universal-btn, .universal-outline-btn{
        padding: 5px 15px;
        font-size: 16px;
    }
    .dreams-grid, .features-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-item-header h3{
        font-size: 20px;
        font-weight: 500;
    }
    .dreams-section .title{
        font-size: 30px;
    }
    .dream-item p{
        font-size: 16px;
    }
    .generate-section, .dreams-section, .single-btn-section, .features-section{
        padding: 30px 0;
    }
    .social-links a{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .footer-content{
        justify-content: center;
    }
    .toggle-gen-sidebar{
        display: block;
    }
    #generate-sidebar{
        margin-left: -400px;
    }
}
@media screen and (max-width: 640px){
    .header-content .navbar{
        display: none !important;
    }
    .toggle-box{
        display: block !important;
    }
    .title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .universal-btn, .universal-outline-btn, #message-form button{
        padding: 8px 20px;
        font-size: 14px;
    }
    .image-upload-label {
        padding: 10px 30px;
        font-size: 16px;
    }
    .dreams-grid, .features-grid{
        grid-template-columns: 1fr;
    }
    .dreams-section .title{
        font-size: 25px;
    }
    .dream-item h3{
        font-size: 20px;
    }
    .dream-item{
        text-align: center;
    }
    .generate-section, .dreams-section, .single-btn-section, .features-section{
        padding: 20px 0;
    }
    .feature-item-header i{
        font-size: 25px;
    }
}
